<%= render 'list', book: @book, user: User.find(current_user.id) %>

<h1>Users</h1>
<td>image</td>
<td>name</td>
<% @users.each do |user| %>
  <div>

    <%= link_to user_path(user.id) do %><%= image_tag user.get_profile_image(100,100) %><% end %>
     <%= user.name %>
    <%= link_to 'Show',user_path(user.id) %>

  </div>
<% end %>