<!-- ユーザーの詳細 -->
<%= render 'list', book: @book, user: @user %>


<!-- ユーザーの投稿一覧 -->
<div class="container">
  <div class="row">
    <div class="col-md-3">
         <div class="col-md-8 offset-md-1">
<% @books.each do |book| %>
<div>
  <%= link_to user_path(@user.id) do %>
   <p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image(100,100) %></p>
    <% end %>
  <%= link_to book_path(book.id) do %>
    <p>title：<%= book.title %></p>
  <% end %>
  <p>説明：<%= book.body %></p>
  <p>ユーザーネーム：<%= book.user.name %></p>
</div>
<% end %>
    </div>
  </div>
  </div>
</div>