<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <script src="https://kit.fontawesome.com/ffdbaf54a5.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
         <%= link_to "Bookers",root_path %>

    <% if user_signed_in? %>

        <%= link_to user_path(current_user.id)  do %>
          <i class="fa-solid fa-house">Home</i>
          <% end %>



        <%= link_to  users_path do %>
         <i class="fa-solid fa-users">Users</i>
          <% end %>




        <%= link_to books_path do%>
            <i class="fa-solid fa-book">Books</i>
          <% end %>




        <%= link_to  destroy_user_session_path, method: :delete do %>
        <i class="fa-solid fa-right-from-bracket">Log out</i>
         <% end %>

    <% else %>

        <%= link_to root_path do  %>
          <i class="fa-solid fa-house">Home</i>
        <% end %>


        <%= link_to about_path do %>
          <i class="fa-solid fa-link">About</i>
        <% end %>


        <%= link_to "Sign up", new_user_registration_path %>

        <%= link_to "Log in", new_user_session_path %>
    <% end %>
  </header>
  <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
